<div class="preFooter">
  <div class="region region-pre-footer">
    <div class="getStartBlocks">
      <h6>Get Started</h6>
      <div class="getStartBlocks-row">
        <div class="getStartBlocks-row-btn">
          <a class="btn btn--light" href="{{ site.bot_link }}">Find a WordPress Contractor</a>
        </div>
        <div class="getStartBlocks-row-btn">
          <a class="btn btn--light" href="{{ site.slack_signup_link }}">Become a WordPress Contractor</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="siteFooter" class="siteFooter" role="footer">
  <div class="container">
    <div class="siteFooter-top">
        <div class="region region-footer-top-left">
          <div class="footerCopyBlock">
            <div class="block__content">
              <h2><strong><span class="u-font-sanserif">WP Contractors</span></strong> matches pre-screened <strong>WordPress</strong> talent with the needs of your business.</h2>
            </div>
          </div>
        </div>
      <div class="siteFooter-top-row siteFooter-top-row--right">
        <div class="region region-footer-top-right">
          <div class="footerSocials">
            <div class="block__content">
              <div class="footerSocials-copy">
                <h5>Stay in touch</h5>
              </div>
              <div class="footerSocials-body">
                <div class="footerSocials-body-link">
                  <a href="https://twitter.com/wp_contractors" class="custom-icon custom-icon--twitter" target="_blank"></a>
                </div>
                <div class="footerSocials-body-link">
                  <a href="https://www.linkedin.com/company/wpcontractors/" class="custom-icon custom-icon--linkedin" target="_blank"></a>
                </div>
                <div class="footerSocials-body-link">
                  <a href="https://www.facebook.com/wpcontractors" class="custom-icon custom-icon--facebook" target="_blank"></a>
                </div>
                <div class="footerSocials-body-link">
                  <a href="mailto:{{ site.email }}" class="custom-icon custom-icon--email"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="siteFooter-body">
      <div class="siteFooter-body-column siteFooter-body-column--left">
        <div class="region region-footer-left">
          <div class="footerMenu">
            <h4 class="block__title">About</h4>
            <div class="block__content">
              <div class="menu-block-wrapper menu-block-1 menu-name-menu-footer-nav parent-mlid-497 menu-level-1">
                <ul class="menu nav nav-pills nav-stacked">
                  <li><a href="https://celebratedrupal.com/team" target="_blank">Our Team</a></li>
                  <li><a href="/our-history/">Our History</a></li>
                  <li><a href="/blog/">WP Contractors Blog</a></li>
                  <li><a href="/partner-us/">Partner with Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="siteFooter-body-column siteFooter-body-column--center">
        <div class="region region-footer-center">
          <div class="footerMenu">
            <h4 class="block__title">Services</h4>
            <div class="block__content">
              <div class="menu-block-wrapper">
                <ul class="menu nav nav-pills nav-stacked">
                  <li>
                    <a href="/services/professional/">WP Contractors Professional</a>
                  </li>
                  <li>
                    <a href="/services/enterprise/">WP Contractors Enterprise</a>
                  </li>
                  <li>
                    <a href="https://esteemed.io/">Recruitment Solutions</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="siteFooter-body-column siteFooter-body-column--right">
        <div class="region region-footer-right">
          <div class="footerMenu">
            <h4 class="block__title">Resources</h4>
            <div class="block__content">
              <div class="menu-block-wrapper menu-block-4 menu-name-menu-footer-nav parent-mlid-512 menu-level-1">
                <ul class="menu nav nav-pills nav-stacked">
                  <li><a href="https://help.esteemed.io/">Help &amp; FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="siteFooter-body-column siteFooter-body-column--right-last">
        <div class="region region-footer-right-last">
          <div class="footerMenu">
            <h4 class="block__title">Find</h4>
            <div class="block__content">
              <div class="menu-block-wrapper menu-block-5 menu-name-menu-footer-nav parent-mlid-518 menu-level-1">
                <ul class="menu nav nav-pills nav-stacked">
                  <li>
                    <a href="/view-all-categories/">Browse Contractors by Skill</a>
                  </li>
                  <li>
                    <a href="/jobs/">Contracting Opportunties</a>
                  </li>
                  <li>
                    <a href="/contractors/">Contractors in the U.S.</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footerMenu">
            <h4 class="block__title">Community</h4>
            <div class="block__content">
              <ul class="menu nav">
                <li>
                  <a href="https://make.wordpress.org/community/handbook/wordcamp-organizer/become-an-organizer/regional-wordcamps/">Regional Word Camps</a>
                </li>
                <li>
                  <a href="http://us.wordcamp.org/">U.S. Word Camp</a>
                </li>
                <li>
                  <a href="https://make.wordpress.org/core/handbook/contribute/">WP Code Contributions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="siteFooter-bottom">
      <div class="region region-footer-bottom">
        <div class="footerCopyright">
          <div class="block__content">
            <p>Copyright © 2020 WP Contractors, an Esteemed Inc business. All right reserved. <a href="/terms-use/">Terms of Use</a> | <a href="/privacy/">Privacy Policy</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
