<div class="preFooter">
  <div class="region region-pre-footer">
    <div class="getStartBlocks">
      <h6>Get Started</h6>
      <div class="getStartBlocks-row">
        <div class="getStartBlocks-row-btn">
          <a class="btn btn--light" href="{{ site.bot_link }}">Find a WordPress Contractor</a>
        </div>
        <div class="getStartBlocks-row-btn">
          <a class="btn btn--light" href="{{ site.slack_signup_link }}">Become a WordPress Contractor</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="siteFooter" class="siteFooter" role="footer">
  <div class="container">
    <div class="siteFooter-top">
        <div class="region region-footer-top-left">
          <div class="footerCopyBlock">
            <div class="block__content">
              <h2><strong><span class="u-font-sanserif">WP Contractors</span></strong> matches pre-screened <strong>WordPress</strong> talent with the needs of your business.</h2>
            </div>
          </div>
        </div>
      <div class="siteFooter-top-row siteFooter-top-row--right">
        <div class="region region-footer-top-right">
          <div class="footerSocials">
            <div class="block__content">
              <div class="footerSocials-copy">
                <h5>Stay in touch</h5>
              </div>
              <div class="footerSocials-body">
                <div class="footerSocials-body-link">
                  <a href="https://twitter.com/wp_contractors" class="custom-icon custom-icon--twitter" target="_blank"></a>
                </div>
                <div class="footerSocials-body-link">
                  <a href="https://www.linkedin.com/company/wpcontractors/" class="custom-icon custom-icon--linkedin" target="_blank"></a>
                </div>
                <div class="footerSocials-body-link">
                  <a href="https://www.facebook.com/wpcontractors" class="custom-icon custom-icon--facebook" target="_blank"></a>
                </div>
                <div class="footerSocials-body-link">
                  <a href="mailto:{{ site.email }}" class="custom-icon custom-icon--email"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="siteFooter-body">
      <div class="siteFooter-body-column siteFooter-body-column--left">
        <div class="region region-footer-left">
          <div class="footerMenu">
            <h4 class="block__title">About</h4>
            <div class="block__content">
              <div class="menu-block-wrapper menu-block-1 menu-name-menu-footer-nav parent-mlid-497 menu-level-1">
                <ul class="menu nav nav-pills nav-stacked">
                  <li><a href="https://celebratedrupal.com/team" target="_blank">Our Team</a></li>
                  <li><a href="/our-history/">Our History</a></li>
                  <li><a href="/blog/">WP Contractors Blog</a></li>
                  <li><a href="/partner-us/">Partner with Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="siteFooter-body-column siteFooter-body-column--center">
        <div class="region region-footer-center">
          <div class="footerMenu">
            <h4 class="block__title">Services</h4>
            <div class="block__content">
              <div class="menu-block-wrapper">
                <ul class="menu nav nav-pills nav-stacked">
                  <li>
                    <a href="/services/professional/">WP Contractors Professional</a>
                  </li>
                  <li>
                    <a href="/services/enterprise/">WP Contractors Enterprise</a>
                  </li>
                  <li>
                    <a href="https://esteemed.io/">Recruitment Solutions</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="siteFooter-body-column siteFooter-body-column--right">
        <div class="region region-footer-right">
          <div class="footerMenu">
            <h4 class="block__title">Resources</h4>
            <div class="block__content">
              <div class="menu-block-wrapper menu-block-4 menu-name-menu-footer-nav parent-mlid-512 menu-level-1">
                <ul class="menu nav nav-pills nav-stacked">
                  <li><a href="https://help.esteemed.io/">Help &amp; FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="siteFooter-body-column siteFooter-body-column--right-last">
        <div class="region region-footer-right-last">
          <div class="footerMenu">
            <h4 class="block__title">Find</h4>
            <div class="block__content">
              <div class="menu-block-wrapper menu-block-5 menu-name-menu-footer-nav parent-mlid-518 menu-level-1">
                <ul class="menu nav nav-pills nav-stacked">
                  <li>
                    <a href="/view-all-categories/">Browse Contractors by Skill</a>
                  </li>
                  <li>
                    <a href="/jobs/">Contracting Opportunties</a>
                  </li>
                  <li>
                    <a href="/contractors/">Contractors in the U.S.</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footerMenu">
            <h4 class="block__title">Community</h4>
            <div class="block__content">
              <ul class="menu nav">
                <li>
                  <a href="https://make.wordpress.org/community/handbook/wordcamp-organizer/become-an-organizer/regional-wordcamps/">Regional Word Camps</a>
                </li>
                <li>
                  <a href="http://us.wordcamp.org/">U.S. Word Camp</a>
                </li>
                <li>
                  <a href="https://make.wordpress.org/core/handbook/contribute/">WP Code Contributions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="siteFooter-bottom">
      <div class="region region-footer-bottom">
        <div class="footerCopyright">
          <div class="block__content">
            <p>Copyright &copy; {{ "now" | date: "%Y" }} WP Contractors, an Esteemed Inc business. All right reserved. <a href="/terms-use/">Terms of Use</a> | <a href="/privacy/">Privacy Policy</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-1.10.2.min.js" integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" integrity="sha512-Xky5qcc+hy/TW2ju3EXCFG0J4wgaRIPiW5I1qdqW+tGLCzM+EeNH+1fLO8ElsGAYUKI28vY1GfpNPoLnTXGjgA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" integrity="sha512-An4a3FEMyR5BbO9CRQQqgsBscxjM7uNNmccUSESNVtWn53EWx5B9oO7RVnPvPG6EcYcYPp0Gv3i/QQ4KUzB5WA==" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" integrity="sha384-oFMgcGzKX7GaHtF4hx14KbxdsGjyfHK6m1comHjI1FH6g4m6qYre+4cnZbwaYbHD" crossorigin="anonymous"></script>
<script type="text/javascript">
  <!--//--><![CDATA[//><!--
  (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create", "UA-141057075-1", {"cookieDomain":"auto"});ga("set", "anonymizeIp", true);ga("send", "pageview");
  //--><!]]>

  window.intercomSettings = {
    app_id: "zrqksojs"
  };

  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/zrqksojs';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();

  $('.expanded > span').on('click', function(e) {
    if (e.target != this) return;
    $(this).parent().find('> .menu').toggle();
  });
  $('.siteFooter-body .block__title').on('click', function() {
    if ($(window).width() <= 768) {
      $(this).siblings().toggle('slow');
    }
  });
  $('.js-showLvl').on('click', function() {
    $(this).toggleClass('is-active');
    $('.js-itemsLvl').slideToggle('slow');
  });
</script>
