{% assign dir = page.dir | split: "/" %}
{% assign dir = dir[1] %}
{%- if dir == "contractors" and subdir or dir == "skills" -%}
{%- assign title = page.value -%}
{%- assign image = site.url | append: "/assets/img/StartUp-Programming-Team-509559078_2125x1416.jpeg" -%}
{%- elsif dir == "profile" -%}
{%- assign title = page._name -%}
{%- assign image = page.image -%}
{%- else -%}
{%- assign title = page.title -%}
{%- assign image = site.url | append: "/assets/img/StartUp-Programming-Team-509559078_2125x1416.jpeg" -%}
{%- endif -%}
{%- assign title = title | append: ' | WP Contractors' -%}
<head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="WP Contractors is the best source for pre-screened contract WordPress resources." />
  <meta name="keywords" content="staffing, WordPress, wordpress, WP, WordPress freelancers, wordpress freelancers, WordPress contractors, WordPress staffing" />
  <meta name="news_keywords" content="staffing" />
  <meta name="rating" content="general" />
  <meta name="rights" content="Copyright WP Contractors an Esteemed Inc. business - 2019 / 2020" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="WP Contractors" />
  <meta property="og:url" content="https://wpcontractors.com/" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:image:width" content="690" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:height" content="430" />
  <meta property="og:country_name" content="United States" />
  <meta property="og:email" content="services@esteemed.io" />
  <meta property="og:phone_number" content="360.701.7353" />
  <meta property="og:region" content="Northwest" />
  <meta property="og:locality" content="Seattle" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:site" content="@wp_contractors" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="https://wpcontractors.com/" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:image:width" content="979" />
  <meta name="twitter:image" content="{{ image }}" />
  <meta name="twitter:image:height" content="457" />
  <meta name="twitter:image:alt" content="WP Contractors" />
  <meta name="dcterms.title" content="{{ title }}" />
  <meta name="dcterms.type" content="Text" />
  <meta name="dcterms.identifier" content="{{ site.url }}{{ page.url }}" />
  <meta name="dcterms.format" content="text/html" />
  <title>{{ title }}</title>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" media="all" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
  <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" />
  <link type="text/css" rel="stylesheet" href="/assets/css/jquery-ui.min.css" media="all" />
  <link type="text/css" rel="stylesheet" href="/assets/css/slick.theme.css" media="all" />
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="all" />
</head>
