---
profiles:
  architect:
    - UKBRBK1R9
    - UL8N9QSLU
    - UKBRBK1R9
    - UKBRBK1R9
    - UL8N9QSLU
    - UL8N9QSLU
  art_director:
    - UKBRBK1R9
    - UL8N9QSLU
  backend:
    - UKBRBK1R9
    - UL8N9QSLU
  frontend:
    - UKBRBK1R9
    - UL8N9QSLU
  full_stack:
    - UKBRBK1R9
    - UL8N9QSLU
  pm:
    - UKBRBK1R9
    - UL8N9QSLU
  qa_tester:
    - UKBRBK1R9
    - UL8N9QSLU
  sys_admin:
    - UKBRBK1R9
    - UL8N9QSLU
  ux_designer:
    - UKBRBK1R9
    - UL8N9QSLU
  visual_designer:
    - UKBRBK1R9
    - UL8N9QSLU
  api:
    - UKBRBK1R9
    - UL8N9QSLU
  adobe_creative_suite:
    - UKBRBK1R9
    - UL8N9QSLU
  bootstrap:
    - UKBRBK1R9
    - UL8N9QSLU
  cli:
    - UKBRBK1R9
    - UL8N9QSLU
  communication:
    - UKBRBK1R9
    - UL8N9QSLU
  custom_themes:
    - UKBRBK1R9
    - UL8N9QSLU
  ecommerce:
    - UKBRBK1R9
    - UL8N9QSLU
  gitflow:
    - UKBRBK1R9
    - UL8N9QSLU
  jquery:
    - UKBRBK1R9
    - UL8N9QSLU
  lamp:
    - UKBRBK1R9
    - UL8N9QSLU
  mobile_design:
    - UKBRBK1R9
    - UL8N9QSLU
  mysql:
    - UKBRBK1R9
    - UL8N9QSLU
  sass:
    - UKBRBK1R9
    - UL8N9QSLU
  seo:
    - UKBRBK1R9
    - UL8N9QSLU
  ui:
    - UKBRBK1R9
    - UL8N9QSLU
layout: default
---

{% assign dir = page.dir | split: '/'  %}
{% assign dir = dir[1] %}
{% if dir == "contractors" %}
{% assign profiles = site.data.profiles | where: 'titles', page.key %}
<div class="contractorsMenu">
  <div class="block__content">
    <div class="container">
      <button type="button" class="contractorsMenu-btn js-contractorsMenuBtn jquery-once-1-processed">CHOOSE FROM BELOW...</button>
      <ul class="menu nav nav-pills nav-stacked">
        {% for title in site.data.config.titles %}
        <li>
          <a href="/contractors/{{ title.key }}/" title="{{ site.data.config.valueMap[title.key] }}">{{ site.data.config.valueMap[title.key] }}</a>
        </li>
        {% endfor %}
        <li class="last leaf menu-mlid-3516 menu-link-see-all">
          <a href="/contractors/">See All</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% else %}
{% assign profiles = site.data.profiles | where: 'skills', page.key %}
{% endif %}

{% assign contractor = site.data.contractors[page.key] %}
<div class="contractorsHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 contractorsHeader__left">
        <h1>{{ contractor.title }}</h1>
        <div class="contractorsHeader__left--bottom">
          <a class="contractorsHeader__left--button btn btn-primary" href="#">Get Started</a>
          <a class="contractorsHeader__left--phone" yohref="tel:{{ contractor.phone }}">{{ contractor.phone }}</a>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 contractorsHeader__right">
        <div class="contractorsHeader__right--image" style="background-image: url({{ contractor.image }})"></div>
      </div>
    </div>
  </div>
</div>

{% if profiles.size > 0 %}
<div class="contractorsContent sectionGrey">
  <div class="block__content">
    <div class="container">
      <div class="view-content">
        <div id="contractorsSlider" class="contractorsSlider carousel slide" data-interval="false" data-wrap="false">
          <div class="carousel-inner row w-100 mx-auto flex-nowrap" role="listbox">
            {% for profile_id in page.profiles[page.key] %}
            {% assign profile = profiles | where: 'id', profile_id | first %}
            {% include card.html content=profile first=forloop.first %}
            {% endfor %}
            <div class="contractorBoxWrap carousel-item col-md-3">
              <div class="contractorBox signUp">
                <h3 class="contractorBox-signUp">Sign up for FREE to view more great contractors</h3>
                <a href="/getting-started/" class="btn btn--blue btn-signUp">Get Started</a>
              </div>
            </div>
          </div>
          <button href="#contractorsSlider" role="button" data-slide="prev" class="carousel-control-prev" aria-label="previous" aria-disabled="false" style="display: none;">&nbsp;</button>
          <button href="#contractorsSlider" role="button" data-slide="next" class="carousel-control-next" aria-label="next" aria-disabled="false" style="display: block;">&nbsp;</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% else %}
<h1>New talent with this skillset coming soon!</h1>
{% endif %}
<div class="term-listing-heading">
  <div id="taxonomy-term-74" class="taxonomy-term vocabulary-job-title">
    <div class="content"></div>
  </div>
</div>
{% include howitworks-foremployers.html %}
